<div class="container mt-3">

  <h2>Employees List</h2>
  <div class="d-flex justify-content-end align-items-center mb-2 gap-2" >
    <button class="btn btn-primary"
     [disabled]="!isAnyEmployeeSelected() || selectedAll"
     [ngClass]="{' bg-gray-300': !isAnyEmployeeSelected() || selectedAll}" 
     (click)="navigateToEdit(selected?.empId ?? 0)"
      >
      
     <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-danger"
     [disabled]="!isAnyEmployeeSelected()"
     [ngClass]="{'opacity-50': !isAnyEmployeeSelected()}"
     (click)="deleteEmployee(selected?.empId ?? 0)"
     >
     <i class="bi bi-trash"></i> </button>
     <button class="btn btn-success" [routerLink]="['/employee/add']">
      <i class="bi bi-plus"></i>
     </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox" [(ngModel)]="selectedAll" (change)="toggleAllEmployees()"></th>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="employees.length > 0; else loading">
      <tr *ngFor="let employee of employees">
        <td><input type="checkbox" [(ngModel)]="employee.selected" (change)="selectEmployee(employee)"></td>
        <td>{{ employee.empId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ getGenderLabel(employee.gender) }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-2" (click)="navigateToEdit(employee.empId)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.empId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #loading >
    <p class="text-center">Data not loaded</p>
</ng-template>
